html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #6a5acd;
  line-height: 1.22;
  letter-spacing: 0.035em;
}

h1 {
  font-size: 14px;
  font-weight: normal;
}

h2 {
  font-size: 14px;
  font-weight: 600;
}

a:link {
  color: #6a5acd;
}

a:visited {
  color: #6a5acd;
  text-decoration: none;
}

a:active {
  color: #6a5acd;
  text-decoration: none;
}

a:hover {
  color: #0000ff;
  text-decoration: underline;
}

a.current {
  color: #6a5acd;
  text-decoration: underline;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.child li {
  display: inline;
  margin-right: 20px;
}

.sidebar {
  position: fixed;
  left: 20px;
  width: 250px;
}

.footnote {
  font-size: 10px;
  width: 250px;
  position: fixed;
  bottom: 75px;
}

.title {
  padding-top: 40px;
}

.date {
  position: fixed;
  right: 20px;
}

.content {
  position: absolute;
  top: 40px;
  left: 330px;
  width: 600px;
  padding-bottom: 100px;
  display: none;
}

.content.active {
  display: block;
}

.content p {
  text-indent: 2em;
}

.content p:not(:empty) {
  margin-top: 0;
  margin-bottom: 0;
}

.content h2 + p {
  text-indent: 0;
}

.content img {
  width: 80%;
  height: auto;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.single-content {
  padding-top: 20px;
  float: left;
}

.child {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 330px;
  width: 600px;
  background-color: #ffffff;
}

.multi {
  position: fixed;
  top: 10px;
  left: 20px;
  width: 250px;
}

.multi img {
  width: 100%;
  height: auto;
}

.menu {
  position: fixed;
  left: 20px;
  top: 0;
  width: 250px;
}

.menu h1 {
  margin-bottom: 20px;
}

.menu ul {
  margin-bottom: 20px;
}

.menu li {
  margin-bottom: 0;
}

.site-info {
  font-size: 10px;
  margin-top: 20px;
}

.site-info p {
  margin: 0;
  padding: 0;
}

.site-info br {
  display: block;
  margin-top: 5px;
}

.about-content {
  position: absolute;
  top: 34px;
  left: 330px;
  width: 600px;
  padding-bottom: 100px;
  display: none;
}

.about-content.active {
  display: block;
}

.about-section {
  padding-top: 20px;
}

.about-section p {
  margin: 0 0 10px 0;
  padding: 0;
}

.work-nav {
  position: static;
  z-index: 999;
  width: 600px;
  background-color: #ffffff;
  padding-bottom: 5px;
}

.work-nav ul {
  margin: 0;
  padding: 0;
}

.work-nav li {
  display: inline;
  margin-right: 20px;
}

.work-section {
  padding-top: 20px;
}

.sites-list {
  padding: 0;
  margin: 0;
}

.sites-list li {
  margin-bottom: 5px;
}

.strikethrough {
  text-decoration: line-through;
}

small {
  font-size: 10px;
}

em {
  font-style: italic;
}

@media (max-width: 768px) {
  .sidebar {
    position: relative;
    width: 250px;
    left: 20px;
  }
  
  .multi {
    position: relative;
    width: 250px;
    margin-left: 20px;
  }
  
  .menu {
    position: relative;
    width: 250px;
    left: 20px;
    bottom: auto;
  }
  
  .content {
    position: relative;
    left: 20px;
    width: calc(100% - 40px);
    top: 20px;
  }
  
  .content img {
    width: 100%;
  }
  
  .about-content {
    position: relative;
    left: 20px;
    width: calc(100% - 40px);
    top: 20px;
  }
  
  .work-nav {
    position: relative;
    left: 0;
    width: 100%;
  }
}