body {
    background: whitesmoke;
    margin-left: 12px;
    font-family: monospace;
    font-size: 0.92em;
    line-height: 1.4em;
}
#text {
    white-space: pre-wrap;
}
a:hover {
    font-style: italic;
    letter-spacing: .035em;
}