body {
    margin: 3vh 2vw;
    font-family: sans-serif;
    background-color: gainsboro;
    font-size: 1.42em;
    line-height: 1.32em;
    max-width: 100%;
    position: relative; 
    letter-spacing: .0323em;
    font-weight: 400;
    min-height: 70vh;
    color: darkgreen;
}

main {
    padding: .5em;
    max-width: 600px;
    position: relative;
    display: block;
    margin-right: auto;
}

h1 {
    margin: 0 0 1.12em 0;
    font-size: 1em;
    font-weight: 400;
}

.intro {
    margin-bottom: 1.64em;
}

section {
    margin-bottom: 1.64em;
}

h2 {
    margin: 0;
    font-size: 1em;
    font-weight: 400;
    color: darkgreen;
    background: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 0;
    line-height: 1.67em;
}

a {
    color: darkgreen;
    text-underline-offset: 0.18rem;
    cursor: pointer;
    line-height: 1.62em;
}

small{
    line-height: 1.14em;
}

.site-info {
    margin-bottom: 1.64em;
}

.site-info p {
    margin: 0;
}

#read-more-link {
    cursor: pointer;
}

#info-content {
    margin-top: 0;
}

.strikethrough {
    text-decoration: line-through;
    line-height: 1.62em;
}

@media (max-width: 768px) {
    body {
        margin: 3vh 2vw;
    }
}


@media (hover: hover) and (pointer: fine) {
    a:hover {
        color: blue;
    }
}