body {
    margin: 15vh 12vw;
    font-family: sans-serif;
    background-color: white;
    font-size: 1.2em;
    line-height: 1.32em;
    max-width: 100%;
    position: relative; 
    letter-spacing: .0323em;
    font-weight: 400;
    min-height: 70vh;
    overflow-y: scroll;
    color: green;
}
hr{
    border-style: solid;
}
.strikethrough {
    text-decoration: line-through;
    text-decoration-thickness: 0.1em;
    line-height: 1.62em;
}
a{
    color: green;
    text-underline-offset: 0.18rem;
    cursor: pointer;
    line-height: 1.62em;
}

@media (max-width: 768px) {
    body {
        margin: 8vh 6vw;
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    body {
        margin: 5vh 4vw;
        font-size: 1.2em;
    }
}

@media (max-width: 320px) {
    body {
        margin: 3vh 3vw;
        font-size: 1.2em;
    }
}
#title {
    right: 0;
    text-align: right;
    position: absolute;
}
#text {
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 500px;
    position: relative;
}
.gif {
    height: 0.85em;
    width: auto;
    vertical-align: baseline;
}
@media (hover: hover) and (pointer: fine) {
    a:hover {
        color: white;
        background-color: green;
        padding: .24em;
        border-radius: 2px;
    }
}
.hidden {
    display: none;
}